* text=auto
*.v text eol=lf
*.vh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.svg text eol=lf
*.c text eol=lf
*.h text eol=lf
*.S text eol=lf
*.ld text eol=lf
*.ps1 text eol=crlf
